<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="importedContent">
    <section class="main-context">
        <div class="cars-context">
            <div class="cards-list">
                <div class="item">
                    <img class="pack-img" src="https://images.unsplash.com/photo-1673724760780-c2a1c8239281?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span class="item-name">Package 1</span>
                    <span class="price">1254 TL</span>
                    <div class="labels">
                        <span class="label new">New</span>
                        <span class="label discount">Discount</span>
                        <span class="label campaign">Campaign</span>
                    </div>
                </div>
                <div class="item" onclick="openPackagePopup(event, 22)">
                    <img class="pack-img" src="https://images.unsplash.com/photo-1673724760780-c2a1c8239281?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span class="item-name">Package 1</span>
                    <div class="labels">
                        <span class="label new">New</span>
                        <span class="label campaign">Campaign</span>
                    </div>
                </div>
                <div class="item">
                    <img class="pack-img" src="https://images.unsplash.com/photo-1673724760780-c2a1c8239281?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span class="item-name">Package 1</span>
                    <div class="labels">
                        <span class="label discount">Discount</span>
                        <span class="label campaign">Campaign</span>
                    </div>
                </div>
                <div class="item">
                    <img class="pack-img" src="https://images.unsplash.com/photo-1673724760780-c2a1c8239281?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span class="item-name">Package 1</span>
                    <div class="labels">
                        <span class="label new">New</span>
                        <span class="label campaign">Campaign</span>
                    </div>
                </div>
                <div class="item">
                    <img class="pack-img" src="https://images.unsplash.com/photo-1673724760780-c2a1c8239281?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span class="item-name">Package 1</span>
                    <div class="labels">
                        <span class="label new">New</span>
                        <span class="label discount">Discount</span>
                        <span class="label campaign">Campaign</span>
                    </div>
                </div>
                <div class="item">
                    <img class="pack-img" src="https://images.unsplash.com/photo-1673724760780-c2a1c8239281?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span class="item-name">Package 1</span>
                    <div class="labels">
                        <span class="label new">New</span>
                    </div>
                </div>
                <div class="item">
                    <img class="pack-img" src="https://images.unsplash.com/photo-1673724760780-c2a1c8239281?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span class="item-name">Package 1</span>
                    <div class="labels">
                        <span class="label new">New</span>
                        <span class="label discount">Discount</span>
                    </div>
                </div>
                <div class="item">
                    <img class="pack-img" src="https://images.unsplash.com/photo-1673724760780-c2a1c8239281?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span class="item-name">Package 1</span>
                    <div class="labels">
                        <span class="label new">New</span>
                        <span class="label discount">Discount</span>
                        <span class="label campaign">Campaign</span>
                    </div>
                </div>
                <div class="item">
                    <img class="pack-img" src="https://images.unsplash.com/photo-1673724760780-c2a1c8239281?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <span class="item-name">Package 1</span>
                    <div class="labels">
                        <span class="label new">New</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <button id="create-package" class="create-package"><i class="fas fa-plus"></i></button>
    <div id="package-screen" class="popup">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div class="form-input">
                <label for="package-name">
                    <input name="packageName" id="package-name" type="text" required placeholder="Package Name">
                </label>
            </div>
            <div class="form-input">
                <label for="package-desc">
                    <input name="packageDesc" id="package-desc" type="text" placeholder="Description">
                </label>
            </div>
            <div class="form-input">
                <label for="package-desc">
                    <input name="price" id="price" type="number" required placeholder="Price">
                </label>
            </div>
            <div class="form-input">
                <label for="end-date">
                    <input name="endDate" id="end-date" type="date" placeholder="Price">
                </label>
            </div>
            <div class="form-input">
                <label for="range">
                    <input name="range" id="range" type="number" placeholder="Price">
                </label>
            </div>
            <div>
                <label for="imageInput">Choose file to upload</label>
                <input type="file" id="imageInput" name="file" accept="image/*">
                <div id="imageContainer"></div>
            </div>
            <div class="discount-section">
                <span>Discount</span>
                <label for="discount">
                    <input id="discountOn" type="checkbox" name="discount">
                </label>
                <span id="new-price">12 TL</span>
            </div>
            <label for="is-hidden">
                <span>Set Hidden</span>
                <input name="isHidden" type="checkbox" id="is-hidden">
            </label>

            <div class="labels-list">
                <input type="checkbox" id="new" name="new" value="new">
                <label for="new">New</label><br>
                <input type="checkbox" id="campaign" name="campaign" value="new">
                <label for="campaign">Campaign</label><br>
                <input type="checkbox" id="discount" name="discount" value="discount">
                <label for="discount">Discount</label><br>
                <input type="checkbox" id="limited" name="Limited" value="limited">
                <label for="limited">Limited</label><br>
                <input type="number" id="userCountFor" name="Limited" value="limited">
                <label for="userCountFor">Limit to Package</label><br>
            </div>
            <div class="actions">
                <button type="button">Delete</button>
                <button type="reset">Clear</button>
                <button type="submit">Save</button>
            </div>
            <form method="POST" action="/manage/venue/upload" enctype="multipart/form-data">
                <button type="submit">Upload</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>