<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="importedContent">
    <section class="main-context">
        <span>Packages</span>
        <div class="cars-context">
            <div class="cards-list">

                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
    </section>

    <button class="create-package"><i class="fas fa-plus"></i></button>
</div>
</body>
</html>