@import "variables";
.tabs-container {
    display: flex;
    width: 100%;
    margin-top: 50px;
    max-height: 100vh;
    overflow-y: hidden;
}

.tab {
    width: 18%;
    overflow-y: auto;
}

.tab button {
    display: block;
    color: #AEAEAE;
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    padding: 14px 0;
    transition: 0.3s;
    font-size: 20px;
}

.tab button.active {
    color: #89C5CC;
    text-decoration: underline;
}

.tab button:hover {
    text-decoration: underline;
}

.tabs-screens {
    width: 82%;
    overflow-y: auto;
    height: 90vh;
}

.tabcontent {
    display: none;
    padding: 10px;
    height: 100%;
}