@import "variables";

.tabs-container {
    display: flex;
    width: 100%;
    margin-top: 40px;
    max-height: 100vh;
    overflow-y: hidden;
}

.tab {
    width: 18%;
    overflow-y: auto;
}

.tab button {
    display: block;
    color: #AEAEAE;
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    padding: 14px 0;
    transition: 0.3s;
    font-size: 20px;
}

.tab button.active {
    color: #89C5CC;
    text-decoration: underline;
}

.tab button:hover {
    text-decoration: underline;
}

.tabs-screens {
    width: 82%;
    overflow-y: auto;
    height: 90vh;
}

.sub-tabs-screens{
    margin-top: 10px;
}

.tabcontent {
    display: none;
    padding: 10px;
    /* base  height: 100%;*/
}
/* base  */
.form {
    display: flex;
    flex-direction: column;

    .form-box {
        display: flex;
        flex-direction: column;
        position:relative;
    }
}

.self-center {
    align-self: center !important;
}
.primary-input {
        height: 15px;
        width:50%;
        border: 1px solid rgba(43, 41, 41, 0.15);
        padding: 10px;
        border-radius: 12px;
        margin-top: 15px;

        &:focus {
            outline: none;
        }
    }

.js-map-box {
    height:400px;
    border-radius:22px;
    margin: 5px;
}

.fullsize {
    width:90%;
}

.venue-content {
    margin:10px 0;
    display: flex;
    flex-direction: row;

    .hours {
        flex:1;
        margin: 10px;

        section {
            margin-top:10px;
            margin-bottom:10px;
            display:flex;
            flex-direction:row;

            .day {
                display:flex;
                flex-direction:row;
                align-items: center;
                justify-content: space-between;
                .per-hours {
                    display:flex;
                    flex-direction:row;
                }
            }
            .day-inp {
              display:flex;
              margin:5px;
              flex-direction:row;
              align-items: center;
            }
        }
    }
    .links {
        flex:2;
        margin: 10px;

        section {
            margin-top:10px;
        }
    }
}

.form-checkbox {
    accent-color: #89C5CC;
}

.btn {
    width:80px;
    height:30px;
    border-radius:18px;
    cursor:pointer;
    border:none;
    font-size: 16px;
    align-self: end;
}

.primary {
    background-color: #89C5CC;
    color:white;
}

.input-label {
    font-size:12px;
    color: #D9D9D9;
}

.mt5 {
    margin-top:5px !important;
}

::placeholder {
  color: #636364;
  opacity: 0.9;
}

.controls {
    position: absolute;
    left: 110px;
    width: 67%;
    height: 40px;
    border: none;
    border-radius: 20px;
    top: 10px !important;
    padding: 10px;

}

*:focus {
    outline: none;
}

* {
    color: #AEAEAE;
}

.time-inputs {
    border-radius: 10px;
    padding: 3px;
    margin: 2px;
    color: #636364;
    border: 1px solid grey;
}

.no-shadow {
    box-shadow:none !important;
}

.relative{
    position:relative;
}

.absolute{
    position:absolute;
}

.position-input-add {
    bottom: 6px;
    left: 54%;
}

.icon-img {
    width:24px;
    height:24px;
    cursor:pointer;
}

.position-span {
    bottom: 3px;
    left: 46%;
    color:#89C5CC;
}
.languages {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.select-wrapper {
  position: relative;
  margin-left:10px;
  display: inline-block;
}

.select-wrapper select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px 30px 5px 10px;
  border: 1px solid #ccc;
  border-radius:8px;
}

.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.mt10 {
    margin-top: 10px;
}

.perms-switch {
    display: flex;
    align-items: center;

    .content {
        color: #AEAEAE;
        text-decoration:underline;
        margin-right: 10px;
    }
}

.content-btn {
    border: none;
    text-decoration: underline;
    background-color: transparent;
    color: #AEAEAE;
    font-size: 15px;
}

.perms-content {

    .content {
        color: #AEAEAE;
        text-decoration:underline;
        margin-right: 10px;
    }
}



/*------- */


.sub-tab {
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #AEAEAE;
  background-color: transparent;
}

.sub-tab button {
  background-color: inherit;
  flex-grow: 1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.2s;
}

.sub-tab button:hover {
  border-radius: 10px;
  background-color: rgba(137, 197, 204, 0.3);
}

.sub-tab button.active {
  border-radius: 10px;
  border:1px solid white;
  color: white;
  background-color: rgba(137, 197, 204, 0.8);
}

.sub-tab-content {
     height:100%;
}

.promotion-content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width:100%;
}

.primary-button {
    width:80px;
    height:30px;
    border-radius:18px;
    cursor:pointer;
    border:none;
    font-size: 16px;
    background-color: #89C5CC;
    color:white;
}

.promotion-history {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: column;

    .col-3 {
        flex-basis: 20% !important;
    }
    .col-2{
        flex-basis: 20% !important;
    }
    .col-1 {
         flex-basis: 20% !important;
    }
    .col-4 {
         flex-basis: 20% !important;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            border:none;
            background:transparent;
            &:hover {
                cursor:pointer;
                text-decoration:underline;
            }
        }
    }

}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{

    }
    li {
      display: block;
    }
    .col {

      flex-basis: 100%;

    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

.table-container {
    max-height:500px;
    margin:30px;
    height:300px;
    overflow-y:auto;
}
.color-white{
    color: white;
}
.primary-table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    width: 100%;

    thead {
         height:45px;
         background-color: #95A5A6;

         th {
            vertical-align: middle;
            color: white;
        }
    }
    tbody {

        tr td {
            height: 35px;
            margin-top: 10px;
            vertical-align: middle;
        }

        tr:hover {
            background-color: #95A5A6;
        }
        tr:hover td{
            color: white;
        }

        tr:hover .table-btn{
            color: white;
        }
    }
}

.table-inf {
    display:flex;
    flex-direction:column;
}

.table-btn {
    border:none;
    background-color:transparent;
    font-size:16px;

    &:hover {
        text-decoration:underline;
        color: white;
    }
}


/** Modal Alert */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px;
    height: 300px;
}

.close-button, .close-button-card {
    color: #95A5A6;
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 25px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-button-card:hover,
.close-button-card:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#add-card-btn {
   align-self: end;
   width: 140px !important;
}

.receipt-detail-content {
    p {
        font-size: 18px;
        width: 100%;
        text-decoration-color: #A9DFD8 !important;
        text-decoration: underline;
        text-underline-offset: 6px;
    }
    section {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top:15px;

        div {
            margin-right:8px;

        }
    }
}

.absolute-btn {
    position:absolute;
    right:15px;
    bottom:10px;
}

.payment-content {
    display:flex;
    flex-direction:column;
}
.payment-title {
    width: 100%;
    text-align: center;
}


/** Card */

.card-section {
    display:flex;
.payment-title {
    width: 100%;
    text-align: center;
}

.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}

.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name""number number""expiration security";
    max-width: 400px;
    padding: 20px;
    color: #707070;
}

label {
    padding-bottom: 5px;
    font-size: 13px;
}

input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.container {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

#ccsingle svg {
    width: 100px;
    max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard{
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.creditcard .lightblue {
    fill: #03A9F4;
}

.creditcard .lightbluedark {
    fill: #0288D1;
}

.creditcard .red {
    fill: #ef5350;
}

.creditcard .reddark {
    fill: #d32f2f;
}

.creditcard .purple {
    fill: #ab47bc;
}

.creditcard .purpledark {
    fill: #7b1fa2;
}

.creditcard .cyan {
    fill: #26c6da;
}

.creditcard .cyandark {
    fill: #0097a7;
}

.creditcard .green {
    fill: #66bb6a;
}

.creditcard .greendark {
    fill: #388e3c;
}

.creditcard .lime {
    fill: #d4e157;
}

.creditcard .limedark {
    fill: #afb42b;
}

.creditcard .yellow {
    fill: #ffeb3b;
}

.creditcard .yellowdark {
    fill: #f9a825;
}

.creditcard .orange {
    fill: #ff9800;
}

.creditcard .orangedark {
    fill: #ef6c00;
}

.creditcard .grey {
    fill: #A9DFD8;
}

.creditcard .greydark {
    fill: #89C5CC;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
    perspective: 1000px;
}

.creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}

.creditcard .front,
.creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

.creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
}