/* line 3, ../../../sass/dashboard/dashboard.scss */
body, html {
  background-color: #131219;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 11, ../../../sass/dashboard/dashboard.scss */
.container {
  display: flex;
  height: 100%;
}

/* line 16, ../../../sass/dashboard/dashboard.scss */
.left-section,
.right-section {
  width: 100px;
  /* Adjust width as needed */
  overflow-y: auto;
}

/* line 22, ../../../sass/dashboard/dashboard.scss */
.middle-section {
  flex: 1;
  overflow-y: auto;
  /* Enable scrolling for the middle section */
  position: relative;
}

/* line 28, ../../../sass/dashboard/dashboard.scss */
.left-section {
  width: 260px;
  background-color: #131219;
  border-right: 2px solid #2F3035;
}

/* line 34, ../../../sass/dashboard/dashboard.scss */
.application-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 40, ../../../sass/dashboard/dashboard.scss */
.application-name {
  margin-top: 25px;
  margin-bottom: 48px;
}

/* line 45, ../../../sass/dashboard/dashboard.scss */
.application-name a {
  color: white;
  font-weight: 400;
  font-size: 35px;
  text-decoration-color: #A9DFD8 !important;
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* line 54, ../../../sass/dashboard/dashboard.scss */
.menu {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: baseline;
  align-content: center;
  flex-wrap: wrap;
}

/* line 63, ../../../sass/dashboard/dashboard.scss */
.menu-item {
  padding: 8px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 34px;
  color: #F6F6F6;
  align-items: center;
  margin: 4px;
}

/* line 74, ../../../sass/dashboard/dashboard.scss */
.menu-item:hover {
  background-color: #A9DFD8;
  border-radius: 8px;
  color: #1F262A;
}

/* line 79, ../../../sass/dashboard/dashboard.scss */
.menu-item img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

/* line 85, ../../../sass/dashboard/dashboard.scss */
.menu-item span {
  flex: 1;
}

/* line 90, ../../../sass/dashboard/dashboard.scss */
.right-section {
  background-color: #21222D;
  border-radius: 15px 0 0 15px;
  width: 20%;
  display: flex;
  z-index: 1111;
  flex-direction: column;
}

/* line 101, ../../../sass/dashboard/dashboard.scss */
.user-scheduled {
  width: 100%;
  height: 250px;
  align-items: center;
  margin-top: 5px;
}

/* line 107, ../../../sass/dashboard/dashboard.scss */
.user-inf {
  margin-bottom: 50px;
}

/* line 110, ../../../sass/dashboard/dashboard.scss */
.scheduled-list {
  overflow-y: auto;
  height: 380px;
  margin-top: 12px;
}

/* line 115, ../../../sass/dashboard/dashboard.scss */
.detail-item {
  display: flex;
  margin: 15px;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #171821;
  position: relative;
  flex-direction: column;
}

/* line 127, ../../../sass/dashboard/dashboard.scss */
.item-name {
  color: #FAF9FA;
  font-size: 20px;
  padding: 5px;
}

/* line 132, ../../../sass/dashboard/dashboard.scss */
.time {
  color: #BABBBD;
  font-size: 16px;
  padding: 5px;
}

/* line 138, ../../../sass/dashboard/dashboard.scss */
.detail-item img {
  position: absolute;
  right: 12px;
  color: #F6F6F6;
  top: 12px;
}

/* line 145, ../../../sass/dashboard/dashboard.scss */
.scheduled-title {
  font-size: 24px;
  color: #F6F6F6;
  margin: 20px;
}

/* line 151, ../../../sass/dashboard/dashboard.scss */
.user-body-info {
  background-color: #2F353E;
  height: 70px;
  border-radius: 8px;
  margin: 16px;
  justify-content: space-around;
  display: flex;
  flex-decoration: row;
}

/* line 161, ../../../sass/dashboard/dashboard.scss */
.body-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* line 168, ../../../sass/dashboard/dashboard.scss */
.value-name {
  font-size: 18px;
  font-weight: 400;
  color: #B3B5B9;
}

/* line 173, ../../../sass/dashboard/dashboard.scss */
.value {
  color: #F6F6F6;
  font-size: 14px;
}

/* line 178, ../../../sass/dashboard/dashboard.scss */
.activity-lvl {
  color: #A1D4CF;
  font-size: 12px;
  margin-top: 5px;
}

/* line 183, ../../../sass/dashboard/dashboard.scss */
.user-name {
  color: #F6F6F6;
  font-size: 24px;
}

/* line 187, ../../../sass/dashboard/dashboard.scss */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 195, ../../../sass/dashboard/dashboard.scss */
.avatar {
  width: 125px;
  border-radius: 50%;
  height: 125px;
  margin-bottom: 20px;
}

/* line 202, ../../../sass/dashboard/dashboard.scss */
.search-bar {
  height: 58px;
  position: sticky;
  top: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #21222D;
  margin: 20px;
  z-index: 1111;
}

/* line 214, ../../../sass/dashboard/dashboard.scss */
.search-icon {
  width: 30px;
  padding: 8px;
  margin: 5px;
  height: 30px;
}

/* line 221, ../../../sass/dashboard/dashboard.scss */
.input-search {
  height: 52px;
  flex: 1;
  border-radius: 8px;
  border: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  background-color: #21222D;
  color: #F6F6F6;
  outline: none;
}

/* line 235, ../../../sass/dashboard/dashboard.scss */
.input-search::placeholder {
  color: #B3B5B9;
  opacity: 1;
}

/* line 239, ../../../sass/dashboard/dashboard.scss */
.input-search::-ms-input-placeholder {
  color: #B3B5B9;
}

/* line 244, ../../../sass/dashboard/dashboard.scss */
input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: grey;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

/* line 257, ../../../sass/dashboard/dashboard.scss */
input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

/* line 269, ../../../sass/dashboard/dashboard.scss */
input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: #FFFFFF;
}

/* line 274, ../../../sass/dashboard/dashboard.scss */
input[type="checkbox"]:checked {
  background: #A9DFD8;
}

/* line 278, ../../../sass/dashboard/dashboard.scss */
.overview {
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
}

/* line 284, ../../../sass/dashboard/dashboard.scss */
.overview::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

/* line 288, ../../../sass/dashboard/dashboard.scss */
.user-daily-info {
  margin: 15px;
  display: flex;
  width: 100%;
  transition: all 0.6s ease;
  flex-wrap: nowrap;
}

/* line 296, ../../../sass/dashboard/dashboard.scss */
.box {
  width: 180px;
  height: 150px;
  border-radius: 10px;
  margin-left: 15px;
  background-color: #21222D;
}

/* line 303, ../../../sass/dashboard/dashboard.scss */
.box:first-child {
  margin: 0;
}

/* line 306, ../../../sass/dashboard/dashboard.scss */
.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
/* line 313, ../../../sass/dashboard/dashboard.scss */
.info-block .value {
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
}
/* line 319, ../../../sass/dashboard/dashboard.scss */
.info-block .info-type {
  color: #A5A5AA;
}

/* line 323, ../../../sass/dashboard/dashboard.scss */
.title {
  color: #B3B5B9;
  font-size: 18px;
  font-weight: 400;
  margin: 15px;
}

/* line 330, ../../../sass/dashboard/dashboard.scss */
.programs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow: auto;
}

/* line 337, ../../../sass/dashboard/dashboard.scss */
.category-keys {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

/* line 350, ../../../sass/dashboard/dashboard.scss */
.see-all {
  text-decoration: none !important;
  color: #B3B5B9;
  font-size: 18px;
  cursor: pointer;
}

/* line 357, ../../../sass/dashboard/dashboard.scss */
.see-all:hover {
  text-decoration: underline !important;
}

/* line 361, ../../../sass/dashboard/dashboard.scss */
.category-item {
  width: 250px;
  height: 180px;
  position: relative;
  border-radius: 10px;
}
/* line 367, ../../../sass/dashboard/dashboard.scss */
.category-item img {
  width: 100%;
  height: 100%;
  border-radius: 8%;
}
/* line 373, ../../../sass/dashboard/dashboard.scss */
.category-item p {
  position: absolute;
  color: #B3B5B9;
  font-size: 14px;
  bottom: 10px;
  left: 10px;
}

/* line 382, ../../../sass/dashboard/dashboard.scss */
.category-values-section {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100% - 30px);
  margin: 15px;
  display: flex;
}

/* line 391, ../../../sass/dashboard/dashboard.scss */
.category-values-section::-webkit-scrollbar {
  display: none;
}

/* line 394, ../../../sass/dashboard/dashboard.scss */
.category-item {
  margin-left: 10px;
}

/* line 398, ../../../sass/dashboard/dashboard.scss */
.category-values {
  margin-left: 10px;
  cursor: pointer;
}

/* line 402, ../../../sass/dashboard/dashboard.scss */
.category-values:first-child {
  margin: 0;
}

/* line 406, ../../../sass/dashboard/dashboard.scss */
.detail-section {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #B3B5B9;
  margin: 15px;
}

/* line 414, ../../../sass/dashboard/dashboard.scss */
.activity-programs {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 10px;
  align-content: flex-start;
  justify-content: flex-start;
}

/* line 425, ../../../sass/dashboard/dashboard.scss */
.activity-programs .category {
  margin-right: 15px;
  margin-top: 20px;
  cursor: pointer;
}

/* line 431, ../../../sass/dashboard/dashboard.scss */
.program-details {
  margin: 15px;
  display: flex;
  flex-direction: row;
}

/* line 437, ../../../sass/dashboard/dashboard.scss */
.detail-value {
  color: #B3B5B9;
  font-size: 18px;
}

/* line 443, ../../../sass/dashboard/dashboard.scss */
.program-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

/* line 448, ../../../sass/dashboard/dashboard.scss */
.program-detail-list {
  margin-left: 5px;
  margin-top: 30px;
}

/* line 453, ../../../sass/dashboard/dashboard.scss */
.exercise-sections {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
/* line 458, ../../../sass/dashboard/dashboard.scss */
.exercise-sections .item-type {
  margin-bottom: 15px;
  color: #B3B5B9;
  font-size: 18px;
  margin-left: 2px;
}

/* line 466, ../../../sass/dashboard/dashboard.scss */
.exercise-section {
  background-color: blue;
  height: 120px;
  width: 60%;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
/* line 476, ../../../sass/dashboard/dashboard.scss */
.exercise-section .image {
  height: 100%;
  border-radius: 10px;
}
/* line 480, ../../../sass/dashboard/dashboard.scss */
.exercise-section .image img {
  height: 100%;
  border-radius: 10px;
}
/* line 486, ../../../sass/dashboard/dashboard.scss */
.exercise-section .item-info {
  width: 60%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/**

.type-class {
    height:100%;
    border-radius:5px;
    width:4%;

    .WARM_UP {
        background-color:green;
    }
    .EXERCISE {
        background-color:red;
    }
    .COOL_DOWN {
        background-color:blue;
    }
}
**/
/* line 514, ../../../sass/dashboard/dashboard.scss */
#workoutPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

/* line 526, ../../../sass/dashboard/dashboard.scss */
.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  height: 580px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}
/* line 538, ../../../sass/dashboard/dashboard.scss */
.popupContent .workout-video-content {
  width: 650px;
  height: 400px;
  margin-top: 15px;
  background-color: red;
  border-radius: 10px;
}

/* line 546, ../../../sass/dashboard/dashboard.scss */
#workout-description {
  text-indent: 15px;
}

/* line 550, ../../../sass/dashboard/dashboard.scss */
.information-content {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
  align-items: flex-start;
}
/* line 557, ../../../sass/dashboard/dashboard.scss */
.information-content .workout-item {
  margin-top: 15px;
  display: flex;
}
/* line 561, ../../../sass/dashboard/dashboard.scss */
.information-content .workout-item p {
  max-width: 620px;
  text-align: left;
}
/* line 565, ../../../sass/dashboard/dashboard.scss */
.information-content .workout-item #workout-name {
  margin-left: 5px;
}

/* line 571, ../../../sass/dashboard/dashboard.scss */
.info-part {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 15px;
  left: -6px;
  flex-direction: row;
  justify-content: space-around;
}

/* line 582, ../../../sass/dashboard/dashboard.scss */
.closeBtn {
  position: absolute;
  right: 10px;
  font-size: 40px;
  top: 1px;
  cursor: pointer;
}

/* line 590, ../../../sass/dashboard/dashboard.scss */
.update-list {
  display: flex;
  flex-direction: row;
}
