/* line 3, ../../../sass/dashboard/dashboard.scss */
body, html {
  background-color: #131219;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 11, ../../../sass/dashboard/dashboard.scss */
.container {
  display: flex;
  height: 100%;
}

/* line 16, ../../../sass/dashboard/dashboard.scss */
.left-section,
.right-section {
  width: 100px;
  /* Adjust width as needed */
  overflow-y: auto;
}

/* line 22, ../../../sass/dashboard/dashboard.scss */
.middle-section {
  flex: 1;
  overflow-y: auto;
  /* Enable scrolling for the middle section */
  position: relative;
}

/* line 28, ../../../sass/dashboard/dashboard.scss */
.left-section {
  width: 260px;
  background-color: #131219;
  border-right: 2px solid #2F3035;
}

/* line 34, ../../../sass/dashboard/dashboard.scss */
.application-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 40, ../../../sass/dashboard/dashboard.scss */
.application-name {
  margin-top: 25px;
  margin-bottom: 48px;
}

/* line 45, ../../../sass/dashboard/dashboard.scss */
.application-name a {
  color: white;
  font-weight: 400;
  font-size: 35px;
  text-decoration-color: #A9DFD8 !important;
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* line 54, ../../../sass/dashboard/dashboard.scss */
.menu {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: baseline;
  align-content: center;
  flex-wrap: wrap;
}

/* line 63, ../../../sass/dashboard/dashboard.scss */
.menu-item {
  padding: 8px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 34px;
  color: #F6F6F6;
  align-items: center;
  margin: 4px;
}

/* line 74, ../../../sass/dashboard/dashboard.scss */
.menu-item:hover {
  background-color: #A9DFD8;
  border-radius: 8px;
  color: #1F262A;
}

/* line 79, ../../../sass/dashboard/dashboard.scss */
.menu-item img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

/* line 85, ../../../sass/dashboard/dashboard.scss */
.menu-item span {
  flex: 1;
}

/* line 90, ../../../sass/dashboard/dashboard.scss */
.right-section {
  background-color: #21222D;
  border-radius: 15px 0 0 15px;
  width: 20%;
  display: flex;
  flex-direction: column;
}

/* line 100, ../../../sass/dashboard/dashboard.scss */
.user-scheduled {
  width: 100%;
  height: 250px;
  align-items: center;
  margin-top: 5px;
}

/* line 106, ../../../sass/dashboard/dashboard.scss */
.user-inf {
  margin-bottom: 50px;
}

/* line 109, ../../../sass/dashboard/dashboard.scss */
.scheduled-list {
  overflow-y: auto;
  height: 380px;
  margin-top: 12px;
}

/* line 114, ../../../sass/dashboard/dashboard.scss */
.detail-item {
  display: flex;
  margin: 15px;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #171821;
  position: relative;
  flex-direction: column;
}

/* line 126, ../../../sass/dashboard/dashboard.scss */
.item-name {
  color: #FAF9FA;
  font-size: 20px;
  padding: 5px;
}

/* line 131, ../../../sass/dashboard/dashboard.scss */
.time {
  color: #BABBBD;
  font-size: 16px;
  padding: 5px;
}

/* line 137, ../../../sass/dashboard/dashboard.scss */
.detail-item img {
  position: absolute;
  right: 12px;
  color: #F6F6F6;
  top: 12px;
}

/* line 144, ../../../sass/dashboard/dashboard.scss */
.scheduled-title {
  font-size: 24px;
  color: #F6F6F6;
  margin: 20px;
}

/* line 150, ../../../sass/dashboard/dashboard.scss */
.user-body-info {
  background-color: #2F353E;
  height: 70px;
  border-radius: 8px;
  margin: 16px;
  justify-content: space-around;
  display: flex;
  flex-decoration: row;
}

/* line 160, ../../../sass/dashboard/dashboard.scss */
.body-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* line 167, ../../../sass/dashboard/dashboard.scss */
.value-name {
  font-size: 18px;
  font-weight: 400;
  color: #B3B5B9;
}

/* line 172, ../../../sass/dashboard/dashboard.scss */
.value {
  color: #F6F6F6;
  font-size: 14px;
}

/* line 177, ../../../sass/dashboard/dashboard.scss */
.activity-lvl {
  color: #A1D4CF;
  font-size: 12px;
  margin-top: 5px;
}

/* line 182, ../../../sass/dashboard/dashboard.scss */
.user-name {
  color: #F6F6F6;
  font-size: 24px;
}

/* line 186, ../../../sass/dashboard/dashboard.scss */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 194, ../../../sass/dashboard/dashboard.scss */
.avatar {
  width: 125px;
  border-radius: 50%;
  height: 125px;
  margin-bottom: 20px;
}

/* line 201, ../../../sass/dashboard/dashboard.scss */
.search-bar {
  height: 58px;
  position: sticky;
  top: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #21222D;
  margin: 20px;
}

/* line 212, ../../../sass/dashboard/dashboard.scss */
.search-icon {
  width: 30px;
  padding: 8px;
  margin: 5px;
  height: 30px;
}

/* line 219, ../../../sass/dashboard/dashboard.scss */
.input-search {
  height: 52px;
  flex: 1;
  border-radius: 8px;
  border: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  background-color: #21222D;
  color: #F6F6F6;
  outline: none;
}

/* line 233, ../../../sass/dashboard/dashboard.scss */
.input-search::placeholder {
  color: #B3B5B9;
  opacity: 1;
}

/* line 237, ../../../sass/dashboard/dashboard.scss */
.input-search::-ms-input-placeholder {
  color: #B3B5B9;
}

/* line 241, ../../../sass/dashboard/dashboard.scss */
.deneme {
  background-color: red;
  height: 1300px;
}
