/* line 3, ../../sass/style.scss */
body {
  background: url("/static/img/bg_main.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 11, ../../sass/style.scss */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
}

/* line 20, ../../sass/style.scss */
.welcome {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 28, ../../sass/style.scss */
.motto {
  color: white;
  font-weight: 400;
  font-size: 80px;
}

/* line 33, ../../sass/style.scss */
.motto-desc {
  color: white;
  font-weight: 200;
  margin-top: 20px;
  font-size: 26px;
  margin-bottom: 50px;
}

/* line 40, ../../sass/style.scss */
.click_start {
  height: 42px;
  background-color: #E9362A;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 160px;
}

/* line 52, ../../sass/style.scss */
.app-header {
  margin-right: 50px !important;
  font-weight: 400 !important;
  font-size: 33px !important;
  text-decoration-color: #E9362A !important;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* line 61, ../../sass/style.scss */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 62px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* line 70, ../../sass/style.scss */
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  height: 100%;
}

/* line 78, ../../sass/style.scss */
.menu-item {
  margin-right: 20px;
  position: relative;
  font-size: 20px;
}

/* line 84, ../../sass/style.scss */
.menu-item a {
  text-decoration: none;
  color: white;
  position: relative;
}

/* Header styles */
/* line 91, ../../sass/style.scss */
.menu-item:first-child a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E9362A;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

/* line 103, ../../sass/style.scss */
.menu-item:not(:first-child) a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #E9362A;
  transition: width 0.3s ease;
}

/* Hover effects
.menu-item:first-child a:hover::before {
  transform: scaleX(1);
}
*/
/* line 119, ../../sass/style.scss */
.menu-item:not(:first-child) a:hover::after {
  width: 100%;
}
