<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/master}">
<head>
    <title>Prime Sport</title>
</head>
<body>
<div layout:fragment="content">
    <div class="welcome">
        <p class="motto">IT’S ALL ABOUT WHAT YOU</p><br/>
        <p class="motto">CAN ACHIEVE</p>
        <p class="motto-desc">Empower yourself to make the changes you need to make</p>
        <button class="click_start">LET’S GET STARTED</button>
    </div>
</div>
<div layout:fragment="page_scripts"></div>
</body>
</html>

