<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/master}">
<head>
    <link th:href="@{/static/stylesheets/setting/setting.css}"
          rel="stylesheet" type="text/css" media="screen">
    <title>Settings</title>
</head>
<body>
<div layout:fragment="page_content">

</div>
<div layout:fragment="page_scripts">
    <script th:src="@{/static/js/template/setting.js}"></script>
</div>
</body>
</html>

