/* line 8, ../../../sass/register/register.scss */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 14, ../../../sass/register/register.scss */
.left-section {
  background: url("/static/img/register_left.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 1;
  height: 100vh;
}

/* line 25, ../../../sass/register/register.scss */
.form-section {
  flex: 1;
  height: 100vh;
}

/* line 31, ../../../sass/register/register.scss */
.form-content {
  background-color: red;
}

/* line 34, ../../../sass/register/register.scss */
.section-login {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* line 43, ../../../sass/register/register.scss */
.form-input {
  width: 100%;
  height: 62px;
  border: none;
}
