<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{register/register_master}">
<head>
    <title>Forgot Password</title>
</head>
<body>
<div layout:fragment="register_content">
    <div class="auth-container">
        <div class="form-content">
            <div class="welcome">
                <span class="welcome_up">Forgot Password</span>
                <span class="welcome_desc">Unlock Your Access</span>
            </div>
            <form class="form-items" method="POST" name="login" th:action="@{/login}">
                <div class="form-input">
                    <label for="user_email"></label>
                    <input class="primary-input" id="user_email" type="email" placeholder="E-mail" name="user_email">
                    <label for="user_phone"></label>
                    <input class="primary-input" id="user_phone" type="tel" placeholder="Phone Number" name="user_phone">
                </div>
                <div class="remember-inputs">
                </div>
                <button class="login_btn" type="submit">Continue</button>
                <span class="create_account">Back to<a class="colored_link" th:href="@{/login}">login</a></span>
            </form>
        </div>
        <div class="form-image-content">
            <img class="form-img" th:src="@{/static/img/front/password.svg}" >
        </div>
    </div>
</div>
<div layout:fragment="page_scripts"></div>
</body>
</html>
