<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{register/register_master}">
<head>
    <title>Login</title>
</head>
<body>

<div layout:fragment="register_content">
    <div class="auth-container">
        <div class="form-content">
            <div class="welcome">
                <span class="welcome_up">WELCOME</span>
                <span class="welcome_desc">Welcome ! Please enter your detail.</span>
            </div>
            <form class="form-items" method="POST" name="login" th:action="@{/login}">
                <div class="form-input">
                    <label for="user_email"></label>
                    <input class="primary-input" id="user_email" type="email" placeholder="email" name="email">
                    <label for="user_password"></label>
                    <input class="primary-input" id="user_password" type="password" placeholder="password" name="password">
                </div>
                <div class="remember-inputs">
                    <div class="remember">
                        <input type="checkbox" id="remember_me" class="remember-me" name="remember_me" value="remember-me">
                        <label for="remember_me">Remember Me</label><br>
                    </div>
                    <div class="forgot-pass">
                        <span>Forgot password</span>
                    </div>
                </div>
                <button class="login_btn" type="submit">Sign in</button>
                <span class="create_account">Don’t have an account?<span class="colored_link">Sign up free!</span></span>
            </form>
        </div>
        <div class="form-image-content">
            <img class="form-img" th:src="@{/static/img/front/login_avatar.svg}" >
        </div>
    </div>
</div>
<div layout:fragment="page_scripts"></div>
</body>
</html>
