<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{register/register_master}">
<head>
    <title>Login</title>
</head>
<body>

<div layout:fragment="register_content">
    <div class="section-login">
        <div class="icon-content">
        </div>
        <div class="form-content">
            <form method="POST" th:action="@{/user-login}">
                <div class="form-input">
                    <input placeholder="email" type="email">
                </div>
                <div class="form-input">
                    <input placeholder="password" type="password">
                </div>
                <div class="actions">
                    <span>Forgot Password</span>
                    <span>Haven't you an account?</span>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>


</div>
<div layout:fragment="page_scripts"></div>
</body>
</html>
