<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/master}">
<head>
  <link th:href="@{/static/stylesheets/dashboard/dashboard.css}"
        rel="stylesheet" type="text/css" media="screen">
  <title th:text="${activity.activityType}"></title>
</head>
<body>
<div layout:fragment="page_content">

  <section class="detail-section">
    <div class="activity">
      <br>
      <h2 class="activity-name" th:text="${activity.activityType}"></h2>
      <br>
      <h4 class="activity-description" th:text="${activity.description}"></h4>
    </div>

    <div class="activity-programs">
      <div class="category" th:each="item : ${category}">
        <section class="activity-programs-lists">
          <a th:href="@{/home/dashboard/program/{programId}(programId=${item.id})}">
            <div class="category-item" th:attr="data-id=${item.id}">
              <img th:src="${item.imageUrl}" th:alt="${item.name}">
              <p th:text="${item.name}"></p>
            </div>
          </a>
        </section>
      </div>
    </div>
  </section>
</div>
<div layout:fragment="page_scripts">
  <script th:src="@{/static/js/template/dashboard.js}"></script>
</div>
</body>
</html>

