<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/master}">
<head>
  <link th:href="@{/static/stylesheets/dashboard/dashboard.css}"
        rel="stylesheet" type="text/css" media="screen">
  <title>Welcome</title>
</head>
<body>
<div layout:fragment="page_content">
</div>
<div layout:fragment="page_scripts">
  <script th:src="@{/static/js/template/dashboard.js}"></script>
</div>
</body>
</html>

