<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/master}">
<head>
    <link th:href="@{/static/stylesheets/dashboard/dashboard.css}"
          rel="stylesheet" type="text/css" media="screen">
    <title th:text="${program.name}"></title>
</head>
<body>
<div layout:fragment="page_content">

    <div class="program-container">
        <div class="program-details">
            <section class="program-detail">
                <div class="detail-value">
                    <span>Program Name: </span>
                    <span th:text="${program.name}"></span>
                </div>
                <div class="detail-value">
                    <span>Program Description: </span>
                    <span th:text="${program.description}"></span>
                </div>
                <div class="detail-value">
                    <span>Program Level: </span>
                    <span th:text="${program.workoutLevel}"></span>
                </div>
                <div class="detail-value">
                    <span>Program Total Rate: </span>
                    <span th:text="${program.rate}"></span>
                </div>
                <div class="detail-value">
                    <span>Program imageUrl: </span>
                    <span th:text="${program.imageUrl}"></span>
                </div>
                <div class="detail-value">
                    <span>Number of Visit: </span>
                    <span th:text="${program.countOfClicked}"></span>
                </div>
                <div class="detail-value">
                    <span>Activity Type: </span>
                    <span th:text="${program.activityType.activityType}"></span>
                </div>
                <div class="detail-value">
                    <span>Activity Detail: </span>
                    <span th:text="${program.activityType.description}"></span>
                </div>
            </section>
            <section class="owner-building-detail">
                <div class="owner-detail">
                    <div class="update-list" th:attr="data-id=${program.id}" th:if="${isCurrentUser}">
                        <label>
                            <input id="make-private" type="checkbox">Private</input>
                        </label>
                        <button class="delete-list">Delete List</button>
                        <a th:href="@{/profile/program/{programId}(programId=${program.id})}">Update List</a>
                    </div>
                    <div th:unless="${isCurrentUser}">
                        <div class="col-1">
                            <div class="owner-avatar">
                                <img class="avatar" th:src="${program.ownerId.avatarUrl}">
                            </div>
                            <div class="owner-name">
                                <span th:text="${program.ownerId.userName}"></span> | <span
                                    th:text="${program.ownerId.profession.professionName}"></span>
                            </div>
                        </div>
                        <div th:if="${program.building}">
                            <div class="building-detail">
                                <a th:href="@{/building/{buildingId}(buildingId=${program.building.id})}">
                                    <span th:text="${program.building.buildingName}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="program-detail-list">
            <section class="program-list">
                <div class="item" th:each="program : ${programList}">
                    <div class="exercise-sections"
                         th:if="${program.key == T(com.facility.primeSport.enums.ActivityGroupType).WARM_UP}">
                        <span class="item-type"> WARM UP ([[${program.value.size()}]])</span>
                        <div th:each="item : ${program.value}" class="exercise-section"
                             th:attr="data-id=${item.workout.id}">
                            <div class="image">
                                <!-- <img th:src="${item.workout.workoutImage}"> -->
                                <img src="https://us.123rf.com/450wm/lioputra/lioputra2106/lioputra210600059/170025342-man-doing-monkey-bars-climbing-frame-exercise-flat-vector-illustration-isolated-on-white.jpg">
                            </div>
                            <div class="item-info">
                                <span th:text="${item.workout.workoutName}"></span>
                                <span th:text="${item.description}"></span>
                                <div th:if="${item.repeatCount}">
                                    <span class="time-duration">[[${item.setCount}]] X [[${item.repeatCount}]] Repeat</span>
                                </div>

                                <div th:unless="${item.repeatCount}">
                                <span th:if="${item.setCount}">
                                    [[${item.setCount}]] X
                                </span>
                                    <span class="time-duration">[[${item.setDurationSecond}]] Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="exercise-sections"
                         th:if="${program.key == T(com.facility.primeSport.enums.ActivityGroupType).EXERCISE}">
                        <span class="item-type"> EXERCİSE ([[${program.value.size()}]])</span>
                        <div th:each="item : ${program.value}" class="exercise-section"
                             th:attr="data-id=${item.workout.id}">
                            <div class="image">
                                <!-- <img th:src="${item.workout.workoutImage}"> -->
                                <img src="https://us.123rf.com/450wm/lioputra/lioputra2106/lioputra210600059/170025342-man-doing-monkey-bars-climbing-frame-exercise-flat-vector-illustration-isolated-on-white.jpg">
                            </div>
                            <div class="item-info">
                                <span th:text="${item.workout.workoutName}"></span>
                                <span th:text="${item.description}"></span>
                                <div th:if="${item.repeatCount}">
                                    <span class="time-duration">[[${item.setCount}]] X [[${item.repeatCount}]] Repeat</span>
                                </div>

                                <div th:unless="${item.repeatCount}">
                            <span th:if="${item.setCount}">
                                [[${item.setCount}]] X
                            </span><span class="time-duration">[[${item.setDurationSecond}]] Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="exercise-sections"
                         th:if="${program.key == T(com.facility.primeSport.enums.ActivityGroupType).COOL_DOWN}">
                        <span class="item-type">COOL DOWN ([[${program.value.size()}]])</span>
                        <div th:each="item : ${program.value}" class="exercise-section"
                             th:attr="data-id=${item.workout.id}">
                            <div class="image">
                                <!-- <img th:src="${item.workout.workoutImage}"> -->
                                <img src="https://us.123rf.com/450wm/lioputra/lioputra2106/lioputra210600059/170025342-man-doing-monkey-bars-climbing-frame-exercise-flat-vector-illustration-isolated-on-white.jpg">
                            </div>
                            <div class="item-info">
                                <span th:text="${item.workout.workoutName}"></span>
                                <span th:text="${item.description}"></span>
                                <div th:if="${item.repeatCount}">
                                    <span class="time-duration">[[${item.setCount}]] X [[${item.repeatCount}]] Repeat</span>
                                </div>

                                <div th:unless="${item.repeatCount}">
                            <span th:if="${item.setCount}">
                                [[${item.setCount}]] X
                            </span>
                                    <span class="time-duration">[[${item.setDurationSecond}]] Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div id="workoutPopup">
            <div class="popupContent">
                <span class="closeBtn">&times;</span>
                <div class="workout-video-content"></div>
                <div class="information-content">
                    <div class="workout-item">
                        <span>Workout: </span>
                        <p id="workout-name"></p>
                    </div>
                    <div class="workout-item">
                        <p id="workout-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer imperdiet ullamcorper nulla vitae scelerisque. Fusce pulvinar ac lectus eget
                            convallis.
                            Nullam eu metus porta, condimentum dolor a, tempus libero. Morbi vel ipsum eleifend,
                            tincidunt, cdfgt.</p>
                    </div>
                </div>
                <div class="info-part">
                    <div>
                        <span>Equipment: </span>
                        <span id="workout-equipment"></span>
                    </div>
                    <div>
                        <span>Body Part: </span>
                        <span id="workout-bodyPart"></span>
                    </div>
                    <div>
                        <span>Target Muscle: </span>
                        <span id="workout-targetMuscle"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="page_scripts">
    <script th:src="@{/static/js/template/dashboard.js}"></script>
</div>
</body>
</html>

