@import "variables";

//main
body, html {

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.auth-container {
    display: flex;
    color: #636364;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height:100%;

    .form-content {
        height: 100%;
        display: flex;
        width: 500px;
        flex-direction: column;
        justify-content: center;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

        .welcome_up {
            color: #89C5CC;
            font-size: 34px;

        }
        .welcome_desc {
            margin-top:15px;
        }
    }
    .form-input{
        display: flex;
        flex-direction: column;
    }
    .remember-inputs {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 15px 0;

        .forgot-pass{
            cursor: pointer;

            &:hover {
                text-decoration:underline;
                text-decoration-color: #636364;
            }
        }


    }



    .form-items {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .form-image-content {
        height:100%;

        .form-img {
            width: 500px;
            height: 435px;
            margin-top:50px;
        }
    }

    .primary-input {
        height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 10px;
        border-radius: 12px;
        margin-top: 15px;

        &:focus {
            outline: none;
        }
    }
    .create_account {
        margin-top:20px;

        .colored_link {
            color: #89C5CC;
            margin-left: 5px;
            cursor: pointer;

            &:hover {
                text-decoration:underline;
            }
        }
    }
    .login_btn {
        height: 32px;
        background-color: #89C5CC;
        border: none;
        cursor: pointer;
        border-radius: 18px;
        color: white;
    }
    .remember-me {
        accent-color: #89C5CC;
    }
}
//login

//register


//forgot pass


//change pass