@import "variables";

body, html {
background-color:#131219;
 margin: 0;
  padding: 0;
  height: 100%;
}


.container {
display:flex;
  height: 100%;
}

.left-section,
.right-section {
  width: 100px; /* Adjust width as needed */
  overflow-y: auto;
}

.middle-section {
  flex: 1;
  overflow-y: auto; /* Enable scrolling for the middle section */
  position: relative;
}

.left-section {
    width: 260px;
    background-color:#131219;
    border-right:2px solid #2F3035;
}

.application-nav {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.application-name {
    margin-top:25px;
    margin-bottom:48px;
}

.application-name a{
    color:white;
    font-weight:400;
    font-size:35px;
    text-decoration-color:$application-light-green !important;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.menu {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: baseline;
    align-content: center;
    flex-wrap: wrap;
}

.menu-item {
    padding:8px;
    cursor:pointer;
    font-size:20px;
    display: flex;
    width:100%;
    height:34px;
    color:$text-color-light;
    align-items: center;
    margin:4px;
}
.menu-item:hover {
    background-color:$application-light-green;
    border-radius:8px;
    color:#1F262A;
}
.menu-item img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.menu-item span {
 flex: 1;
}


.right-section {
    background-color:#21222D;
  //  max-width:300px;
   // min-width:250px;
   border-radius: 15px 0 0 15px;
    width: 20%;
    display:flex;
    z-index:1111;
    flex-direction:column;
}

.user-scheduled {
    width:100%;
    height:250px;
    align-items:center;
    margin-top: 5px;
}
.user-inf {
    margin-bottom:50px;
}
.scheduled-list {
   overflow-y: auto;
   height: 380px;
   margin-top:12px;
}
.detail-item {
    display:flex;
    margin:15px;
    height:60px;
    padding:10px;
    cursor:pointer;
    border-radius:8px;
    background-color:$scheduled-card-bg;
    position:relative;
    flex-direction:column;
}

.item-name {
    color:#FAF9FA;
    font-size:20px;
    padding:5px;
}
.time {
    color:#BABBBD;
    font-size:16px;
    padding:5px;
}

.detail-item img {
    position:absolute;
    right:12px;
    color:$text-color-light;
    top:12px;
}

.scheduled-title {
    font-size: 24px;
    color:$text-color-light;
    margin:20px;
}

.user-body-info {
    background-color:$user-bms-card-bg;
    height:70px;
    border-radius:8px;
    margin:16px;
    justify-content:space-around;
    display:flex;
    flex-decoration:row;

}
.body-info {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

.value-name {
    font-size:18px;
    font-weight:400;
    color:$application-white;
}
.value {
    color:$text-color-light;
    font-size:14px;
}

.activity-lvl {
    color:$text-color-green;
    font-size:12px;
    margin-top:5px;
}
.user-name {
    color:$text-color-light;
    font-size: 24px;
}
.info {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.avatar {
    width:125px;
    border-radius:50%;
    height:125px;
    margin-bottom:20px;
}

.search-bar {
    height:58px;
    position: sticky;
    top: 20px;
    display:flex;
    align-items:center;
    border-radius:10px;
    background-color:$search-bg-color-dark;
    margin:20px;
    z-index:1111;
}

.search-icon {
    width: 30px;
    padding: 8px;
    margin:5px;
    height: 30px;
}

.input-search {
    height:52px;
    flex:1;
    border-radius:8px;
    border:none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size:18px;
    background-color:$search-bg-color-dark;
    color:$text-color-light;
    outline: none;
}

.input-search::placeholder {
    color:$application-white;
    opacity:1;
}
.input-search::-ms-input-placeholder {
  color:$application-white;
}


input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: grey;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: $white;
}

input[type="checkbox"]:checked {
  background: $application-light-green;
}

.overview {
 display: flex;
 overflow: auto;
 -ms-overflow-style: none;  /* Internet Explorer 10+ */
 scrollbar-width: none;
}
.overview::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.user-daily-info {
    margin:15px;
    display:flex;
    width:100%;
    transition: all 0.6s ease;
    flex-wrap: nowrap;
}

.box {
    width:180px;
    height:150px;
    border-radius:10px;
    margin-left: 15px;
    background-color:$search-bg-color-dark;
}
.box:first-child{
    margin: 0;
}
.info-block {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    justify-content: center;

    .value {
        color:$white;
        font-weight:500;
        margin-top:10px;
        margin-bottom:5px;
    }
    .info-type{
        color:$text-gray;
    }
}
.title {
    color:$application-white;
    font-size:18px;
    font-weight:400;
    margin: 15px;
}

.programs {
    display:flex;
    flex-direction:column;
    margin-top:10px;
    overflow: auto;
}

.category-keys {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    margin: 15px;
}

.category {

}


.see-all {
    text-decoration: none !important;
    color: $application-white;
    font-size: 18px;
    cursor:pointer;
}

.see-all:hover {
    text-decoration: underline !important;
}

.category-item {
    width:250px;
    height:180px;
    position: relative;
    border-radius: 10px;

    img {
        width:100%;
        height:100%;
        border-radius: 8%;
    }

    p {
    position: absolute;
    color:$application-white;
    font-size:14px;
    bottom: 10px;
    left: 10px;
    }
}

.category-values-section {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100% - 30px);
    margin: 15px;
    display: flex;
}

.category-values-section::-webkit-scrollbar {
    display: none;
}
.category-item {
    margin-left:10px;
}

.category-values {
    margin-left:10px;
    cursor:pointer;
}
.category-values:first-child{
    margin: 0;
}

.detail-section {
    display:flex;
    flex-direction:column;
    font-size: 18px;
    color:$application-white;
    margin:15px;
}

.activity-programs {
    display:flex;
    flex-direction:row;
    height:100%;
    width:100%;
    flex-wrap: wrap;
    margin-top: 10px;
    align-content: flex-start;
    justify-content: flex-start;
}

.activity-programs .category{
    margin-right: 15px;
    margin-top: 20px;
    cursor:pointer;
}

.program-details {
    margin:15px;
    display:flex;
    flex-direction:row;
}

.detail-value {
    color:$application-white;
    font-size:18px;
}


.program-container {
    display:flex;
    flex-direction: column;
    margin:15px;
}
.program-detail-list {
    margin-left:5px;
    margin-top:30px;
}

.exercise-sections {
    display:flex;
    flex-direction:column;
    margin-bottom:15px;

    .item-type{
        margin-bottom: 15px;
        color:$application-white;
        font-size:18px;
        margin-left: 2px;
    }

}
.exercise-section {
    background-color:blue;
    height:120px;
    width:60%;
    border-radius:10px;
    margin-bottom:15px;
    display:flex;
    flex-direction:row;
    cursor:pointer;

    .image {
        height:100%;
        border-radius:10px;

        img {
            height:100%;
            border-radius:10px;
        }
    }

    .item-info {
        width:60%;
        margin-left:10px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
}
/**

.type-class {
    height:100%;
    border-radius:5px;
    width:4%;

    .WARM_UP {
        background-color:green;
    }
    .EXERCISE {
        background-color:red;
    }
    .COOL_DOWN {
        background-color:blue;
    }
}
**/


#workoutPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  height:580px;
  display:flex;
  justify-content: flex-start;
  flex-direction:column;
  position:relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;

  .workout-video-content{
    width:650px;
    height:400px;
    margin-top: 15px;
    background-color:red;
    border-radius:10px;
  }
}
#workout-description{
    text-indent: 15px;
}

.information-content {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;

    .workout-item {
        margin-top:15px;
        display: flex;

        p {
            max-width:620px;
            text-align: left;
        }
        #workout-name {
            margin-left:5px;
        }
    }
}

.info-part {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 15px;
    left: -6px;
    flex-direction: row;
    justify-content: space-around;

}

.closeBtn {
    position: absolute;
    right: 10px;
    font-size: 40px;
    top: 1px;
    cursor: pointer;
}